<div class="container-fluid text-center" ng-show='adminTabletsShow'>
    <div class="row container-category">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newName">Name:</label>
                <input type="text" class="form-control" id="newName" ng-model='newTabletName'>
                <label for="newModel">Model:</label>
                <input type="text" class="form-control" id="newModel" ng-model='newTabletModel'>
                <label for="newPrice">Price:</label>
                <input type="text" class="form-control" id="newPrice" ng-model='newTabletPrice'>
                <label for="newDisplay">Display:</label>
                <input type="text" class="form-control" id="newDisplay" ng-model='newTabletDisplay'>
                <label for="newRam">Ram:</label>
                <input type="text" class="form-control" id="newRam" ng-model='newTabletRam'>
                <input type="file" file-model='tabletImg'>
                <img src="{{file}}" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click='addNewTablet()'>Add</button>
        </div>
    </div>
    <div class="row text-center filter">
        <div class="col-md-3">
            <!--
            <label>Sort by price
                    <select ng-model='sortByPrice'>
                        <option value="-price">price: high to low</option>
                        <option value="price">price: low to high</option>
                    </select>
                </label>
-->
        </div>
        <div class="col-md-5">
            <div id="search">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control text-center searchInput" placeholder="Search" ng-model='search'>
                </div>
            </div>
        </div>
        <div class="col-md-3 showBy">
            <label>Show
                         <select ng-model='pageSize' ng-options='item for item in limitRange'>
                         </select> elements</label>
        </div>
    </div>
    <hr>
    <div class="row">
       <div class="col-md-1">
            <h5>Edit img</h5>
        </div>
        <div class="col-md-1">
            <h5>IMG</h5>
        </div>

        <div class="col-md-2">
            <h5> Name</h5>
        </div>
        <div class="col-md-1">
            <h5> Model</h5>
        </div>
        <div class="col-md-1">
            <h5>Price</h5>
        </div>
        <div class="col-md-1">
            <h5>Display</h5>
        </div>
        <div class="col-md-1">
            <h5>Ram</h5>
        </div>
        <div class="col-md-2">
            <h5>Delete</h5>
        </div>
        <div class="col-md-2">
            <h5>Edit</h5>
        </div>
    </div>
    <div class="good" ng-repeat='tablet in tablets | filter:search | startFrom:currentTabletPage*pageSize | limitTo:pageSize'>
        <div class="row">
           <div class="col-md-1">
           <button ng-click='editImg(tablet.src, tablet.id)' class="btn btn-submit">Edit img</button>
            </div>
            <div class="col-md-1">
                <img src="../uploads/{{tablet.src}}" height="80">
            </div>
            <div class="col-md-2">{{tablet.name}}</div>
            <div class="col-md-1">{{tablet.model}}</div>
            <div class="col-md-1">{{tablet.price}}</div>
            <div class="col-md-1">{{tablet.display}}</div>
            <div class="col-md-1">{{tablet.ram}}</div>
            <div class="col-md-2"><button class="btn btn-danger" ng-click='removeTablet(tablet.id, tablet.src)'>Delete</button></div>
            <div class="col-md-2"><button class="btn btn-warning" ng-click='editTablet(tablet.id, tablet.name,tablet.model, tablet.price, tablet.display, tablet.ram,tablet.src)'>Edit</button></div>

        </div>
    </div>
    <div ng-show='editImgShow'>
    <input type="file" file-model='editImgModel'>
    <input type="button" class="btn btn-success" value="Ok" ng-click='submitEditImg()'>
    </div>

    <div class="row" ng-show='editBlock'>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newName">Name:</label>
                <input type="text" class="form-control" id="newName" ng-model='editTabletName'>
                <label for="newName">Model:</label>
                <input type="text" class="form-control" id="newName" ng-model='editTabletModel'>
                <label for="newPrice">Price:</label>
                <input type="text" class="form-control" id="newPrice" ng-model='editTabletPrice'>
                <label for="newDisplay">Display:</label>
                <input type="text" class="form-control" id="newDisplay" ng-model='editTabletDisplay'>
                <label for="newRam">Ram:</label>
                <input type="text" class="form-control" id="newRam" ng-model='editTabletRam'>
            </div>
            <button class="btn btn-primary" ng-click='updateTablet()'>Update</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button ng-disabled="currentTabletPage == 0" ng-click="currentTabletPage=currentTabletPage-1" class="btn btn-submit">Previous</button> {{currentTabletPage+1}}/{{numberOfTabletPages()}}
            <button ng-disabled="currentTabletPage >= getTablets().length/pageSize - 1" ng-click="currentTabletPage=currentTabletPage+1" class="btn btn-submit">Next</button>
        </div>
    </div>
</div>
