<div class="container-fluid text-center" ng-show='adminHeadphonesShow'>
    <div class="row container-category">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newName">Name:</label>
                <input type="text" class="form-control" id="newName" ng-model='newHeadphoneName'>
                <label for="newModel">Model:</label>
                <input type="text" class="form-control" id="newModel" ng-model='newHeadphoneModel'>
                <label for="newHeadphonePrice">Price:</label>
                <input type="text" class="form-control" id="newPrice" ng-model='newHeadphonePrice'>
                <label for="newConnection">Connection:</label>
                <input type="text" class="form-control" id="newConnection" ng-model='newHeadphoneConnection'>
                <label for="newWeight">Weight:</label>
                <input type="text" class="form-control" id="newWeight" ng-model='newHeadphoneWeight'>
                <input type="file" file-model='headphoneImg'>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-primary" ng-click='addNewHeadphone()'>Add</button>
        </div>
    </div>
    <div class="row text-center filter">
        <div class="col-md-3">
            <!--
            <label>Sort by price
                    <select ng-model='sortByPrice'>
                        <option value="-price">price: high to low</option>
                        <option value="price">price: low to high</option>
                    </select>
                </label>
-->
        </div>
        <div class="col-md-5">
            <div id="search">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control text-center searchInput" placeholder="Search" ng-model='search'>
                </div>
            </div>
        </div>
        <div class="col-md-3 showBy">
            <label>Show
                         <select ng-model='pageSize' ng-options='item for item in limitRange'>
                         </select> elements</label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <h5>Edit img</h5>
        </div>
        <div class="col-md-1">
            <h5>IMG</h5>
        </div>

        <div class="col-md-2">
            <h5> Name</h5>
        </div>
        <div class="col-md-1">
            <h5> Model</h5>
        </div>
        <div class="col-md-1">
            <h5>Price</h5>
        </div>
        <div class="col-md-1">
            <h5>Connection</h5>
        </div>
        <div class="col-md-1">
            <h5>Weight</h5>
        </div>
        <div class="col-md-2">
            <h5>Delete</h5>
        </div>
        <div class="col-md-2">
            <h5>Edit</h5>
        </div>
    </div>
    <div class="good" ng-repeat='headphone in headphones | filter:search | startFrom:currentHeadphonePage*pageSize | orderBy:sortByPrice | limitTo:pageSize'>
        <div class="row">
            <div class="col-md-1">
                <button ng-click='editHeadphoneImg(headphone.src, headphone.id)' class="btn btn-submit">Edit img</button>
            </div>
            <div class="col-md-1"> <img src="../uploads/{{headphone.src}}" height="80">
            </div>
            <div class="col-md-2">{{headphone.name}}</div>
            <div class="col-md-1">{{headphone.model}}</div>
            <div class="col-md-1">{{headphone.price}}</div>
            <div class="col-md-1">{{headphone.connection}}</div>
            <div class="col-md-1">{{headphone.weight}}</div>
            <div class="col-md-2"><button class="btn btn-danger" ng-click='removeHeadphone(headphone.id,headphone.src)'>Delete</button></div>
            <div class="col-md-2"><button class="btn btn-warning" ng-click='editHeadphone(headphone.id, headphone.name, headphone.model, headphone.price, headphone.connection, headphone.weight)'>Edit</button></div>
        </div>
    </div>
    <div ng-show='editHeadphoneImgShow'>
    <input type="file" file-model='editHeadphoneImgModel'>
    <input type="button" class="btn btn-success" value="Ok" ng-click='submitHeadphoneEditImg()'>
    </div>
    <div class="row" ng-show='editBlock'>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="newName">Name:</label>
                <input type="text" class="form-control" id="newName" ng-model='editHeadphoneName'>
                <label for="newModel">Model:</label>
                <input type="text" class="form-control" id="newModel" ng-model='editHeadphoneModel'>
                <label for="newPrice">Price:</label>
                <input type="text" class="form-control" id="newPrice" ng-model='editHeadphonePrice'>
                <label for="newDisplay">Connection:</label>
                <input type="text" class="form-control" id="newDisplay" ng-model='editHeadphoneConnection'>
                <label for="newRam">Weight:</label>
                <input type="text" class="form-control" id="newRam" ng-model='editHeadphoneWeight'>
            </div>
            <button class="btn btn-primary" ng-click='updateHeadphone()'>Update</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button ng-disabled="currentHeadphonePage == 0" ng-click="currentHeadphonePage=currentHeadphonePage-1" class="btn btn-submit">Previous</button> {{currentHeadphonePage+1}}/{{numberOfHeadphonePages()}}
            <button ng-disabled="currentHeadphonePage >= getHeadPhones().length/pageSize - 1" ng-click="currentHeadphonePage=currentHeadphonePage+1" class="btn btn-submit">Next</button>
        </div>
    </div>
</div>
