    <section class="header--nav--section" ng-hide='authorized'>
        <header class="header">
            <nav class="header--nav">
                <ul>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#" ng-click='logout()'>Logout</a></li>
                    <li ng-hide='showIfAdmin' id="admin" ng-click='proceedToAdmin()'><a href="#" >Admin</a></li>
                    <li><a id="user">Welcome: {{userLogIn}}</a></li>
                </ul>
            </nav>
        </header>
    </section>
    