    <div ng-show='allHeadphones'>
       <div class="row goods">
        <div class="col-md-4 item headphones" ng-repeat='headphone in headphones | filter:search | orderBy:sortByPrice | startFrom:currentHeadphonePage*pageSize | limitTo:pageSize ' ng-click='headphoneInfo(headphone.name)'>
            <a href=""><img src='../img/headphone.png'></a>
            <h6>{{headphone.model}}</h6>
            <h6>Price: {{headphone.price}} $</h6>
            <div class="goods--moreInfo">
                <h6>Weight: {{headphone.weight}} pounds</h6>
                <h6>Connection: {{headphone.connection}} </h6>
            </div>
        </div>
    </div>
    <!--    PAGINATION-->
    <div class="row">
        <div class="col-md-12 text-center">
            <button ng-disabled="currentHeadphonePage == 0" ng-click="currentHeadphonePage=currentHeadphonePage-1" id="previousPage" class="btn btn-submit" scroll-on-click href="#scroll">Previous</button> {{currentHeadphonePage+1}}/{{numberOfHeadphonePages()}}
            <button ng-disabled="currentHeadphonePage >= getHeadPhones().length/pageSize - 1" ng-click="currentHeadphonePage=currentHeadphonePage+1" class="btn btn-submit" scroll-on-click href="#scroll">Next</button>

        </div>
    </div>
</div>