<section class="main-section" ng-hide='mainPartHide'>
    <main>
        <h1 class="text-center">The store</h1>
        <div class="row text-center filter">
            <div class="col-md-3">
                <label>Sort by price
                    <select ng-model='sortByPrice'>
                        <option value="-price">price: high to low</option>
                        <option value="price">price: low to high</option>
                    </select>
                </label>
            </div>
            <div class="col-md-5">
                <div id="search">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control text-center searchInput" placeholder="Search" ng-model='search'>
                    </div>
                </div>
            </div>
            <div class="col-md-3 showBy">
                <label>Show
                         <select ng-model='pageSize' ng-options='item for item in limitRange'>
                         </select> elements</label>
            </div>
        </div>
        <div class="row items ">
            <div class="col-md-3 items-chat">
                <h3 class="text-center">Chat</h3>
                <form name="chatForm" novalidate>
                    <div class="message">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control name" placeholder="Type your name" ng-model='name' name="name" ng-hide='userNameInput'>
                        </div>
                        <div ng-show='afterName'>
                            Yor name is: {{name}}
                            <i class="fa fa-pencil" aria-hidden="true" title='Edit' ng-click='editChatName()'></i>

                        </div>
                    </div><button class="btn btn-submit" ng-click='changeName()' ng-disabled='chatForm.name.$error.required' ng-hide='userNameInput'>Ok</button>
                    <span ng-show="chatForm.name.$touched && chatForm.name.$error.required" style="color: red">Can't be empty</span>
                    <div class="chatBox">
                     </div>
                    <div class="message">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" placeholder="Type your message" ng-model='message' name="message" required>
                        </div>
                    </div><button class="btn btn-submit" ng-click='sendMessage()' ng-disabled='chatForm.$invalid'>Send</button>
                </form>
            </div>
            <div class="col-md-6">
                <all-phones></all-phones>
                <all-tablets></all-tablets>
                <all-headphones></all-headphones>
            </div>
            <div class="col-md-2 categories">
                <h3>Categories</h3>
                <ul>
                    <li ng-repeat='category in categories'> <a href="#" ng-click='show(category.source)'> {{category.name}}</a></li>

                </ul>
            </div>
        </div>
    </main>

</section>
