<div class="row product">
    <input type="button" class="btn btn-primary back" value="Back" ng-click='back()'>

    <div class="col-md-3 text-center">
        <div ng-repeat='tablet in oneTablet' class="fullInfo">
            <h5>Model:</h5>
            <p>{{tablet.model}}</p>
            <h5>Price:</h5>
            <p>{{tablet.price}} $</p>
            <h5>Display:</h5>
            <p>{{tablet.display}} inches</p>
            <h5>RAM:</h5>
            <p>{{tablet.ram}} GB</p>
            <input type="button" class="btn btn-success" value="Add to cart" ng-click='addTabletToCart(tablet.name, tablet.price, tablet.model,tablet.src)'>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col-md-5">
        <div class="gallery" ng-repeat='tablet in oneTablet'>
            <div href="../uploads/{{tablet.src}}" class="image">
                <img src="../uploads/{{tablet.src}}" alt="" width="60%" height="400"></div>
        </div>
    </div>
    <div class="col-md-3 text-center">
        <h3>Comments</h3>

        <ul>
            <li ng-repeat='comment in comments| orderBy:sortByDate  | limitTo:4'>
                <p>{{comment.time | date:" dd/MM/yy hh:mm:ss"}}</p>
                <p>{{comment.email}}: {{comment.comment}}
                    <p>
                        <hr>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12 text-center">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-submit">Previous</button> {{currentPage+1}}/{{numberOfCommentsPages()}}
                <button ng-disabled="currentPage >= getComments().length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-submit">Next</button>
            </div>

        </div>
        <textarea cols="35" rows="3" placeholder="Enter your comment" ng-model='comment'></textarea><br>
        <button ng-click='sendComment()' class="btn btn-primary"> Send</button>
    </div>
