    <div ng-show='allTablets'>
       <div class="row goods ">
        <div class="col-md-4 item tablets" ng-repeat='tablet in tablets | filter:search | orderBy:sortByPrice | startFrom:currentTabletPage*pageSize | limitTo:pageSize ' ng-click='tabletInfo(tablet.name)'>
            <a href=""><img src='../uploads/{{tablet.src}}' width="50%" height="60%"></a>
            <h6>Model: {{tablet.model}}</h6>
            <h6>Price: {{tablet.price}} $</h6>

            <div class="goods--moreInfo">
                <h6>Display: {{tablet.display}} inches</h6>
                <h6>RAM {{tablet.ram}} GB</h6>
            </div>
        </div>
    </div>
    <!--    PAGINATION-->
    <div class="row">
        <div class="col-md-12 text-center">
            <button ng-disabled="currentTabletPage == 0" ng-click="currentTabletPage=currentTabletPage-1" id="previousPage" class="btn btn-submit" scroll-on-click href="#scroll">Previous</button> {{currentTabletPage+1}}/{{numberOfTabletPages()}}
            <button ng-disabled="currentTabletPage >= getTablets().length/pageSize - 1" ng-click="currentTabletPage=currentTabletPage+1" class="btn btn-submit" scroll-on-click href="#scroll">Next</button>
        </div>
    </div>
</div>